<!-- Don't forget to add '_method=DELETE' to the action attribute of the form -->
<form method="post" action="<%= url %>?_method=DELETE"> 
    <button class="btn btn-danger" type="submit">Delete</button>
</form>