<h2 class="page-header">Edit Author</h2>
<form action="/authors/<%=author.id%>?_method=PUT" method="post">
    <%- include('_form_fields') %>
    <!-- difference between anchor a and button is that a links things, button is for forms -->
    <a href="/authors/<%=author.id%>">Cancel</a> 
    <button type="submit">Update</button>
</form>

